@model EntityLayer.Concrete.Skill
@{
    ViewData["Title"] = "EditSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Yetenek Düzenleme Sayfası</h1>
@using (Html.BeginForm("EditSkill", "Skill", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.SkillID)
    <br />
    @Html.Label("Yetenek Başlığı")
    @Html.TextBoxFor(x=>x.Title,new {@class = "form-control"})
    <br />
    <label>Oran</label>
    @Html.TextBoxFor(x=>x.Value,new {@class = "form-control"})
    <br />
    <button class="btn btn-success">Güncelle</button>
}

