    <div class="form">
        <form action="/Default/SendMessage/" method="post">
            <div class="form-group">
                E-Posta Adresi
                <input type="email" name="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-Posta Adresinizi Giriniz..." required>
            </div>
            <div class="form-group">
                Mesaj İçeriği
                <textarea name="Content" id="" cols="30" rows="5" class="form-control" placeholder="Mesajınızı Yazınız..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block rounded w-lg">Mesajı Gönder</button>
        </form>
    </div>
