<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li class="text-center">
                <img src="~/adminn/assets/img/find_user.png" class="user-image img-responsive" />
            </li>


            <li>
                <a href="/Feature/Index"><i class="fa fa-dashboard fa-3x"></i>Öne Çıkan</a>
            </li>
            <li>
                <a href="/About/Index"><i class="fa fa-desktop fa-3x"></i>Hakkımda</a>
            </li>
            <li>
                <a href="/Service/Index"><i class="fa fa-qrcode fa-3x"></i>Hizmetlerim</a>
            </li>
            <li>
                <a href="/Skill/Index"><i class="fa fa-qrcode fa-3x"></i>Yetenekler</a>
            </li>
            <li>
                <a href="/Testimonial/Index"><i class="fa fa-bar-chart-o fa-3x"></i>Referanslarım</a>
            </li>

            
        </ul>

    </div>

</nav>