@model EntityLayer.Concrete.About
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Hakkımda Düzenleme Sayfası</h1>
@using (Html.BeginForm("Index", "About", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.AboutID)
    <br />
    <label>Başlık</label>
    @Html.TextBoxFor(x=>x.Title,new {@class = "form-control"})
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x=>x.Description,10,2,new {@class = "form-control"})
    <br />
    <label>Görsel</label>
    @Html.TextBoxFor(x=>x.ImageURL,new {@class = "form-control"})
    <br />
    <button class="btn btn-success">Güncelle</button>
}

