@using EntityLayer.Concrete
@model List<Contact>
@foreach(var item in Model){
<div class="contact-infos">
    <div class="item">
        <i class="ti-mobile"></i>
        <div>
            <h5>Telefon</h5>
            <p>@item.Phone</p>
        </div>
    </div>
    <div class="item">
        <i class="ti-email"></i>
        <div class="mb-0">
            <h5>E-Posta Adresi</h5>
            <p>@item.Email</p>
        </div>
    </div>
</div>  
}